.hide {
    display: none;
}

body {
    background-color: whitesmoke; 
}

section {
    background-color: whitesmoke;
}

#timer {
    justify-content: flex-start;
}

.header {
    background-color: turquoise;
    color: black;
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding: 20px;
    border: 3px;
    margin-bottom: 50px;
}

.startpage {
    text-align: center;
    margin: auto;
    width: 70%;
    height: 100%;
    border: 5px solid turquoise;
    padding: 5px;
    font-size: 18px;
}

button {
    background-color: turquoise;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 10px solid black;
}

.endpage {
    background-color: turquoise;
    color: black;
    font-size: 15px;
    justify-content: center;
    border: 5px solid gray;
}